    <div class="side-header">
    <div class="said-name">
      <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
    </div>
    <div class="creat-room">
    <%= link_to "チャットを作成する", new_room_path %>
    </div>
    </div>

    <div class="side-message">
  <% current_user.rooms.each do |room| %>
    <div class="room-message">
      <div class="techroom">
         <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
    </div>

    <%# <div class="room-message">
    <div class="techroom">
    <a heaf="#">techroom2</a>
    </div>
    </div> %>
    <%# </div> %>
